div {   
	margin:2%;
	padding:5px; 
	color:#0080C0; 
	font-size:10px;  
	width: 80%;
	}


table {
	width: 80%;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
}
caption {
	font: 1.8em/1.8em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(bg_caption.jpg) right top;
	height: 45px;
	color: #FFAA00;
}
thead th {
	font-family: Arial, Helvetica, sans-serif;
	height: 47px;
	color: #777777;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FCF1D4;
}
tbody tr {
}
tbody tr.odd {
	background: #FFF8E8;
}

tbody th,td {
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: left;
}
a {
	color: #777777;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	color: #F8A704;
	text-decoration: underline;
}

tfoot th, td {
	color: #FFFFFF;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	text-align: left;
	text-indent: 10px;
	border-top: 1px solid #FFCA5E;
}