
table.main_table {
    width:100%;
    border-width: 3px;
    border-spacing: 2px;
    border-style: solid;
    border-color: blue;
    border-collapse: collapse;
    background-color:#f3fffc;
    color:black;
}
table.main_table th {
    border-width: 3px;
    padding: 3px;
    border-style: solid;
    border-color: gray;
}
table.main_table td {
    border-width: 3px;
    padding: 10px;
    border-style: solid;
    border-color: gray;
}



table.list_table {
    width:70%;
    border-width: 1px;
    border-spacing: 2px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
}
table.list_table th {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: gray;
}
table.list_table td {
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: gray;
}


table.menu_table {
    width:100%;
    border-width: 0px;
    border-spacing: 4px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
    background-color:rgb(233, 233, 248);
    text-align:left;
    
}
table.menu_table th {
    border-width: 2px;
    padding: 0px;
    border-style: solid;
    border-color: gray;
    background-color:rgb(119, 145, 153);
    font-weight: bold;
    text-align:left;
}
table.menu_table td {
    border-width: 1px;
    padding: 2px;
    border-style: solid;
    border-color: gray;
}



table.dw_table {
    text-align:left;
    border-width: 1px;
    border-spacing: 2px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
}
table.dw_table th {
    border-width: 0px;
    padding: 3px;
    border-style: solid;
    border-color: gray;
    font-weight: bold;
    text-align:left;
}
table.dw_table td {
    border-width: 0px;
    padding: 2px;
    border-style: solid;
    border-color: gray;
}




